head{
Width: 100%;
}


main {
Width: 100%;
Height: 95vh;
Display: block;
Margin: 0;
Float: none;
Position: fixed;
Top: 5vh;
Left: 0;
Z-index: 999;
}

main section#zona-infografia {
Width:1100px;
Height: 700px;
Display: block;
Margin: 0;
Float: none;
Position: relative;
Background: url('../archivos/gibon.png') no-repeat top center;
Background-size: cover;
}

main section#zona-infografia figure {
Width:100%;
Height: 700px;
Display: block;
Margin: 0 auto;
Float: none;
Position: relative;
}

main section#zona-infografia figure div.caja-info{
  display: block;
  margin: 0;
  float: none;
  position: absolute;
}

main section#zona-infografia figure div.caja-info#caja-01{
  width: 300px;
  height: 450px;
  top: 185px;
  left: 100px;
}

main section#zona-infografia figure div.caja-info#caja-01 div.info-interna{
  width: 350px;
  height: 170px;
  top: -154px;
  right: 252px;
  /* display: block!important;*/
  
}

main section#zona-infografia figure div.caja-info#caja-02{
  width: 300px;
  height: 450px;
  top: 400px;
  right: -30px;
}

main section#zona-infografia figure div.caja-info#caja-02 div.info-interna{
  width: 350px;
  height: 170px;
  top: -162px;
  right: 123px;
  /*display: block!important;*/
  
}

main section#zona-infografia figure div.caja-info#caja-03{
  width: 300px;
  height: 450px;
  bottom: 82px;
  right:100px;
}

main section#zona-infografia figure div.caja-info#caja-04{
  width: 300px;
  height: 450px;
  bottom: 116px;
  right:300px;
}

main section#zona-infografia figure div.caja-info#caja-05{
}

@keyframes animacion-puntos {
  0% {background: #09f; color: #fff; transform: scale(1);}
  50% {background: #000; color: #09f; transform: scale(1.2);}
  100% {background: #09f; color: #fff; transform: scale(1);}
}


main section#zona-infografia figure div.caja-info a{
  /* Maquetación */
  width: 30px;
  height: auto;
  display: block;
  margin: 0;
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index:50;
  
  /* Estilo */
  font-size:1.5em;
  line-height: 1em;
  text-align: center;
  color: #fff;
  background: #09f;
  font-weight: 500;
  text-decoration: none;
  padding: 2px 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
  transition: all 0.3s ease-in;
  
  /* Animaciones */
  animation-name: animacion-puntos;
  animation-duration: 1.2s;
  animation-iteration-count: 5;
  animation-direction:alternate;
  animation-play-state: running;
  animation-timing-function: ease-out;
}

main section#zona-infografia figure div.caja-info a:hover{
  color: #09f;
  background: #000;
  font-weight: 500;
  transition: all 0.3s ease-in;
}



main section#zona-infografia figure div.caja-info div.info-interna{
  display:none;
  margin:0;
  float: none;
  position: absolute;
  background: #f9f9f9;
  border-radius:10px;
}
